@import url("https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap");
$myColor:#f2f2f2;
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

.my-container{
    border: 2px solid rgb(37, 247, 37);
    position: absolute; 
    margin-top: 250px;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: -1;
}
.my-row{
    border: 3px solid red;
    height: 200px;
}
.my-col{
    border: 3px dotted $myColor;
}
body {
  min-height: 100vh;
  background: linear-gradient(#2b1055, #7597de);
}
.alert{
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 1%;
}
/* Extend */
%message {
    border: 1px dotted black;
    padding: 3px;
    margin: 3px;
}

.success {
    @extend %message;
    background-color: $myColor;
}

/* Nesting */
nav {
    display: flex;
    height: 80px;
    width: 100%;
    border-bottom: $myColor 1px solid;
    align-items: center;
    justify-content: space-between;
    padding: 30px 100px;
    ul {
      display: flex;
      flex-wrap: wrap;
      list-style: none;
    }
    li {
       margin: 0 5px;
    }
    a {
        color: $myColor;
        text-decoration: none;
        font-size: 18px;
        font-weight: 500;
        padding: 6px 15px;
        border-radius: 20px;
        letter-spacing: 1px;
        transition: all 0.3s ease;
    }
    a.active,a:hover {
        background: $myColor;
        color: #2b1055;
        text-decoration: none;
    }
    .logo {
        color:$myColor;
        font-weight: 700;
        text-decoration: none;
        font-size: 2em;
        text-transform: uppercase;
        letter-spacing: 2px;
    }
    .menu-btn i {
        color: $myColor;
        font-size: 22px;
        cursor: pointer;
        display: none;
    }
}

input[type="checkbox"] {
  display: none;
}
@media (max-width: 1000px) {
  nav {
    padding: 0 40px 0 50px;
    ul {
        position: fixed;
        top: 80px;
        left: -100%;
        background: #2b1055;
        height: 100vh;
        width: 100%;
        text-align: center;
        display: block;
        transition: all 0.3s ease;
    }

    li {
        width: 100%;
        margin: 40px 0;
    }
    a {
        width: 100%;
        margin-left: -100%;
        display: block;
        font-size: 20px;
        transition: 0.6s cubic-bezier(0.68, -0.55, 0.265, 1.55);
    }

  }
}
@media (max-width: 920px) {
  nav .menu-btn i {
    display: block;
    #click:checked ~  i:before {
        content: "\f00d";
    }
  }
  
  #click:checked ~ ul {
    left: 0;
    li a {
        margin-left: 0px;
    }
  }
    nav ul li a.active,
    nav ul li a:hover {
        background: none;
        color: rgb(247, 0, 255);
    }
}

